<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Заметки{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}  <!-- Загружаем тег статики Django -->
<link href="{% static 'notes/css/style.css' %}" rel="stylesheet">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/notes/">Заметки</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/notes/all/">Все заметки</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container py-5">
    {% block content %}
    <!-- Содержимое страницы -->
    {% endblock %}
</div>

</body>
</html>
